/* Write your CSS code here */
.currency-items {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.logo-title-container {
  display: flex;
  justify-content: flex-start;
}
.currency-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.currency-name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 0px;
}
.currency-values {
  display: flex;
  justify-content: flex-start;
}
.usd-value {
  color: #ffffff;
  margin-right: 30px;
}
.euro-value {
  color: #ffffff;
  margin-right: 20px;
}
